body {
	font-family: 'Open Sans', sans-serif;
}

/* ##### CONTAINERS AND CONTAINER STYLINGS ##### */

.wide-container {
	width:100%;
	position:relative;
}

.wide-container[data-role="jumbo-box"] {
	height:650px;
	background-color:rgba(27,73,160,1);
}

.header-container {
	width:100%;
	position:relative;
}

.header-container[data-role="navbar"] {
	height:80px;
	background-color:rgba(255,255,255,1);
}

.container_12[data-role="slider"] {
	height:570px;
	background-image:url(../img/code.png);
	background-color:rgba(0,0,0,0.15);
	box-shadow:0 0 10px rgba(0,0,0,0.25);
	position:relative;
}

.wide-container[data-role="about-hud"] {
	background-color:rgba(255,255,255,1);
	height:325px;
}

.hi {
	height:300px;
}

/* ##### BUTTONS ##### */

.sh-button {
	display:block;
	color:#fff;
	text-decoration:none;
	height:50px;
	width:150px;
	line-height:47.5px;
	text-align:center;
	border-radius:2.5px;
	font-weight:300;
	font-size:1.2em;
	text-transform:uppercase;
	text-shadow:0 1px 0 rgba(0,0,0,0.75);
	font-family: 'Open Sans', sans-serif;
	-moz-transition:ease-in-out 0.25s;
}

.sh-button[data-role="download"] {
	background-color:rgba(55,183,0,1);
	position:absolute;
	bottom:25px;
	left:25px;
}

.sh-button[data-role="download"]:hover {
	background-color:rgba(35,157,0,1);
}

.sh-button[data-role="read-more"] {
	background-color:rgba(128,140,255,1);
	position:absolute;
	bottom:0;
	left:25px;
}

/* ##### HEADER STYLINGS ##### */

h1.brand {
	font-weight:700;
	font-size:3em;
	letter-spacing:-8px;
	color:rgba(105,105,105,1);
	line-height:70px;
	position:relative;
}

h2.slider-title {
	font-weight:600;
	font-size:3em;
	letter-spacing:-5px;
	text-shadow:0 1px 0 #111111;
	color:#fff;
	position:relative;
	top:25px;
	left:25px;
	background-color:rgba(0,0,0,0.75);
	width:600px;
	padding:5px;
}

h3.content-title {
	font-weight:600;
	font-size:2.75em;
	color:rgba(105,105,105,1);
	position:relative;
	top:25px;
	letter-spacing:-6px;
}

/* ##### PARAGRAPH STYLES ##### */

p.slider-desc {
	padding:5px;
	position:relative;
	background-color:rgba(0,0,0,0.75);
	top:50px;
	left:25px;
	font-weight:300;
	color:#fff;
	width:600px;
	font-size:1.25em;
}

p.content-desc {
	position:relative;
	top:50px;
	font-weight:300;
	color:rgba(60,60,60,1);
	font-size:1.25em;
}

/* ##### NAVIGATION ##### */

.nav-container { }

.nav-container ul { }

.nav-container ul li {
	display:inline;
}

.nav-container ul li a {
	text-decoration:none;
	color:rgba(105,105,105,1);
	font-weight:700;
	font-size:2em;
	text-transform:uppercase;
	letter-spacing:-5px;
	line-height:70px;
	float:left;
	margin-left:20px;
	-moz-transition:ease-in-out 0.25s;
}

.nav-container ul li a:hover {
	color:rgba(60,60,60,1);
}

/* ##### FLOATS AND CLEARS ##### */

.fl-r { float:right; }
.fl-l { float:left; }
.cl-l { clear:left; }
.cl-r { clear:right; }
.cl-b { clear:both; }